<component name="ArtifactManager">
  <artifact type="war" name="springboot_demo02_jsp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot_demo02_jsp-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot_demo02_jsp:war exploded" />
    </root>
  </artifact>
</component>